:root{
    --blue: #13376A;
    --black: rgb(26, 32, 43);
    --gray: rgb(21, 24, 30);
    --white: #f0f8ff;
    --jet: #443F4D;
    --plum: #774B74;
    --purple: #7A26B3;
    --lgray: #404040;
    --dgray: #5C5C5C;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: var(--gray);
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 0.5rem 1rem;
}
.nav-bar a {
    justify-content: center;
    color: var(--white);
    display: inline;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    transition: font-size 0.3s ease, text-decoration 0.3s ease;
}
.nav-bar a:hover {
    transition: font-size 0.3s ease, text-decoration 0.3s ease;
    font-size: 18px;
    text-decoration: underline;
}
.title {
    font-size: 35px;
}
.presentation {
    padding-top: 125px;
    padding-left: 25px;
}
.presentation-text {
    width: 700px;
    font-size: 17px;
}
.profile {
    width: 400px;
    padding: 50px;
}
.me {
    display: flex;
    color: var(--white);
}


/*Contact form style start*/
.contact-form {
    justify-self: center;
    text-align: center;
    background-color: var(--black);
    padding: 20px;
    border-radius: 10px;
    width: 450px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.contact-header h1 {
    margin-bottom: 10px;
    font-size: 24px;
}
.contact-header p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.5;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form-group {
    display: flex;
    gap: 10px;
}
form input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: var(--jet);
}
form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    resize: vertical;
    background-color: var(--jet);
    height: 100px;
}
form button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px;
    background-color: var(--purple);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    transition: font-size 0.3s ease, text-decoration 0.3s ease;
}
form button i {
    font-size: 16px;
}
form button:hover,
form button i {
    font-size: 18px;
    font-weight: bold;
    transition: font-size 0.3s ease, text-decoration 0.3s ease;
}
form input::placeholder {
    color: var(--white);
    opacity: 0.75;
}
form textarea::placeholder {
    color: var(--white);
    opacity: 0.75;
}
/*Contact form style end*/