* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1A1A1A;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 0.5rem 1rem;
}
.nav-bar a {
    justify-content: center;
    color: aliceblue;
    display: inline;
    align-items: center;
    text-align: center;
    padding: 10px;
}



.me{
    display: none;
}